* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color: #E29200;
    --secondary-color: #008c44;
    --primary-bg-gray: #F1F3F2;
}

.register-container {
  margin-top: 68px;
  background-color: red;
}

.header {
  background-color: #fff !important;
  padding: 15px 30px !important;
  border-bottom: 1px solid #d9d9d9 !important;
  position: fixed;
}

.header-logo {
  display: flex;
  width: 10%;
  align-items: center;
}

.header .logo-text {
  padding-top: 4px;
  padding-left: 4px;
}

.header-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-middle ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-middle ul li:not(:first-child) {
  margin-left: 8px; 
}

.header-middle ul li {
  font-size: 14px;
}

.header-middle ul li:Hover a {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 2px;
}

.header-middle ul li a {
  text-decoration: none;
  color: black;
}

.header-login {
  position: relative;
}

.header-login-spacing {
  height: 8px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 100%;
}

.header-login-submenu {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #d9d9d9 !important; 
  padding-block: 8px;
  flex-direction: column;
  display: none;
  opacity: 0;
  top: calc(100% + 8px);
  position: absolute;
}

.header-login-submenu.active {
  display: flex;
  opacity: 1;
  background-color: #fff ;
}

.header-login-submenu a {
  text-decoration: none;
  padding: 12px;
  font-size: 14px;
  color: #666666;
}

.header-login-submenu a:hover {
  background: #f5fefa;
}

.header-login-submenu a:first-child {
  border-bottom: 1px solid #d9d9d9 ; 
}

.header-login .login-button {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.header-login-button {
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 3.75px 7.5px;
  font-size: 14px;
  align-items: center;
  color: #666666;
}

.header-login-button:hover {
  background-color: var(--secondary-color);
}

.header-login-button:hover > span {
  color: #ffffff;
}

.header-login-button > span {
  margin-left: 8px;
}

.banner-img {
    object-fit: cover;
}

.banner-img img {
    width: 100%;
}

.box{
    text-align: center;
    background: rgb(193, 239, 193);
    max-width: 620px;
    height: auto;
    padding: 50px;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
}

.box h1{
    color: rgb(60, 127, 85);
    font-size: 30px;
}

.box input[type="password"], .box input[type="text"]{
    background: none;
    outline: none;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 10px 0px;
    border: solid 1px #08f381;
    background: rgb(255, 255, 255);
    transition: 1s;
}

.box input[type="password"]:focus, .box input[type="text"]:focus{
    border-color: rgb(5, 5, 5);
    transition: 1s;
}

.box input[type="submit"]{
    background: none;
    outline: none;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    margin: 15px 0px;
    border: solid 2px #f8f8f8;
    color: rgb(7, 7, 7);
    font-size: 18px;
    transition: 1s;
}

.box input[type="submit"]:hover{
    background: #176032;
    transition: 1s;
    color: #ffffff;
}
