/* html, body{ */
/*     width: 100%; */
/* } */

.banner-img {
    object-fit: cover;
}

.banner-img img {
    width: 100%;
}

.box{
    text-align: center;
    background: rgb(193, 239, 193);
    height: auto;
    padding: 50px;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
}

.box h1{
    color: rgb(60, 127, 85);
    font-size: 30px;
}

.box input[type="password"], .box input[type="text"]{
    background: none;
    outline: none;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 10px 0px;
    border: solid 1px #08f381;
    background: rgb(255, 255, 255);
    transition: 1s;
}

.box input[type="password"]:focus, .box input[type="text"]:focus{
   
    border-color: rgb(5, 5, 5);
    transition: 1s;
}
.box input[type="submit"]{
    background: none;
    outline: none;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    margin: 15px 0px;
    border: solid 2px #f8f8f8;
    color: rgb(7, 7, 7);
    font-size: 18px;
    transition: 1s;
}

.box input[type="submit"]:hover{
    background: #176032;
    transition: 1s;
    color: #ffffff;
}
