{{ define "footer" }}
<footer class="footer">
    <div class="col1">
        <h4>Về chúng tôi</h4>
        <p>Công ty của chúng tôi</p>
        <p>Dịch vụ của chúng tôi </p>
        <p>Những câu chuyện và tin tức</p>
        <p>Quan hệ đầu tư</p>
        <p>Lưu trữ</p>
        <p>Dịch vụ khách hàng</p>
    </div>
    <div class="col2">
        <h4>Nghề nghiệp</h4>
        <p>Cơ hội nghề nghiệp</p>
        <p>Tuyển dụng</p>
        <p>Cộng đồng OCB</p>
        <p>Tuyển dụng nhân sự chuyên sâu</p>
        <p>Dịch vụ quốc tế</p>
    </div>
    <div class="col3">
        <h4>Qui định </h4>
        <p>Chính sách bảo mật</p>
        <p>Qui định sử dụng</p>
        <p>Điều khoản sử dụng </p>
    </div>
    <div class="col2">
        <h5> Chăm sóc khách hàng</h5>
        <p> Dịch vụ CSKD 24/7</p>
        <P>Hotline liên hệ : 1900 1789</P>
    </div>
</footer>
{{ end }}
